{% extends "account/base_auth.html" %}

{% load widget_tweaks %}

{% block auth_title %}Register{% endblock auth_title %}

{% block auth_content %}
<div class="max-w-xl mx-auto h-screen grid content-center">
		<form method="POST" class="bg-emerald-900 p-6 rounded-md text-white">
			<h1 class="title">Crear una cuenta</h1>
			{% csrf_token %}
			<p>Registrarse con </p>
			{% if SOCIALACCOUNT_ENABLED %}
			<div class="button secondary flex justify-center mt-2">
				{% include "svgs/google.svg" with class="w-6 h-6 mt-[-2px] mr-2" %}
				{% include "socialaccount/snippets/provider_list.html" %}
			</div>
			{% endif %}
			<div>
				<label class="label-input text-white" for="{{ form.email.id_for_label }}">Correo electrónico</label>
				<div class="form-field">
					{% render_field form.email class="input" %}
				</div>
				{% if form.email.errors %}
				  <div class="text-red-500 text-sm mt-1">
				    {{ form.email.errors.0 }}
				  </div>
				{% endif %}
			</div>
			<div>
				<label class="label-input text-white" for="{{ form.username.id_for_label }}">Nombre de usuario</label>
				<div class="form-field">
					{% render_field form.username class="input" %}
				</div>
				{% if form.username.errors %}
				  <div class="text-red-500 text-sm mt-1">
				    {{ form.username.errors.0 }}
				  </div>
				{% endif %}
			</div>
			<div>
				<label class="label-input" for="{{ form.password1.id_for_label }}">Contraseña 1</label>
				<div class="form-field">
					{% render_field form.password1 class="input" %}
				</div>
				{% if form.password1.errors %}
				  <div class="text-red-500 text-sm mt-1">
				    {{ form.password1.errors.0 }}
				  </div>
				{% endif %}
			</div>
			<div>
				<label class="label-input" for="{{ form.password2.id_for_label }}">Contraseña 2</label>
				<div class="form-field">
					{% render_field form.password2 class="input" %}
				</div>
				{% if form.password2.errors %}
				  <div class="text-red-500 text-sm mt-1">
				    {{ form.password2.errors.0 }}
				  </div>
				{% endif %}
			</div>
			<button type="submit" class="button primary mt-4">Registrarse</button>
		</form>
	</div>
{% endblock auth_content %}