# Django-specific files
*.log 
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

node_modules/

# Virtual Environment
.env
envtrackerhealth/

# PyCharm-specific files
.idea/

# Other files
.DS_Store
Thumbs.db
.coverage
.tox/
.eggs/
