{% extends "base.html" %}

{% load static %}
{% load account %} {#Get profile picture google#}

{% load widget_tweaks %}

{% block title %}Update{% endblock title %}

{% block base_content %}
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% if user.image%}
			{% if user.socialaccount_set.exists %}
			    {% with user.socialaccount_set.first as account %}
			        <img src="{{ account.extra_data.picture }}" alt="Foto de Google" class="avatar">
			    {% endwith %}
			{% else %}
				<img src="{{ user.image.url }}" alt="Foto de perfil" class="avatar"/>
			{% endif %}
		{% else %}
			<img src="{% static 'default.png' %}" alt="Imagen por defecto" class="avatar"/>
		{% endif %}
		{# First Name #} 
		 <div class="mb-4">
		      <label class="block text-gray-700">{{ form.first_name.label }}</label>
		      {% render_field form.first_name class="input w-full mt-1" placeholder="Tu nombre" %}
		      {% for error in form.first_name.errors %}
		        <p class="text-sm text-red-600 mt-1">{{ error }}</p>
		      {% endfor %}
    	</div>
    	{# Last Name #}
    	<div class="mb-4">
		      <label class="block text-gray-700">{{ form.last_name.label }}</label>
		      {% render_field form.last_name class="input w-full mt-1" placeholder="Tu apellido" %}
		      {% for error in form.last_name.errors %}
		        <p class="text-sm text-red-600 mt-1">{{ error }}</p>
		      {% endfor %}
    	</div>
    	{# Email #}
    	<div class="mb-4">
		      <label class="block text-gray-700">{{ form.email.label }}</label>
		      {% render_field form.email class="input w-full mt-1" placeholder="Tu correo" %}
		      {% for error in form.email.errors %}
		        <p class="text-sm text-red-600 mt-1">{{ error }}</p>
		      {% endfor %}
    	</div>
    	{# Birth date #}
    	<div class="mb-4">
		      <label class="block text-gray-700">{{ form.birth_date.label }}</label>
		      {% render_field form.birth_date  type="date"  class="input w-full mt-1" placeholder="Tu fecha de cumpleaños" %}
		      {% for error in form.birth_date.errors %}
		        <p class="text-sm text-red-600 mt-1">{{ error }}</p>
		      {% endfor %}
    	</div>
    	{# Gender #}
    	<div class="mb-4">
		      <label class="block text-gray-700">{{ form.gender.label }}</label>
		      {% render_field form.gender class="input w-full mt-1" placeholder="Escoger genero" %}
		      {% for error in form.gender.errors %}
		        <p class="text-sm text-red-600 mt-1">{{ error }}</p>
		      {% endfor %}
    	</div>
    	{# Image #}
    	<div class="mb-4">
		      <label class="block text-gray-700">{{ form.image.label }}</label>
		      {% render_field form.image type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" class="input w-full mt-1" %}
		      {% for error in form.image.errors %}
		        <p class="text-sm text-red-600 mt-1">{{ error }}</p>
		      {% endfor %}
    	</div>
		<button class="button primary mt-4" type="submit">Actualizar</button>
	</form>
{% endblock base_content %}